.KitchenKing-homypromax {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}
.KitchenKing-homypromax-top {
	display: flex;
	flex-direction: column;
	margin-left: 5rem;
	top: 0;
}
.desktopviewh{
	display: block;
}
.midviewkkh {
	display: none;
}
.KitchenKing-homypromax-upper-background {
	max-width: 100%;
	z-index: 1;
	position: relative;
	background-color: rgba(255, 255, 255, 0);
	/* margin-left: 8.7rem; */

	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.4) 60%,
		rgba(11, 10, 10, 1) 97%
	);
}
.KitchenKing-homypromax-upper-background img {
	max-width: 100%;
	/* display: block; */
}

.KitchenKing-homypromax-Heading {
	position: absolute;
	padding-top: 0rem;
	top: 6.5rem;
	margin-left: 36rem;
	
}
.KitchenKing-homypromax-Heading h1 {
	color: #fff;
	font-family: Montserrat;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 69.36px */
	letter-spacing: 0.58px;
}

.KitchenKing-homypromaximg {
	/* width: 100%; */
	height: 100%;
	position: absolute;
	top: 11rem;
	z-index: 0;
}
.KitchenKing-homypromaximg img {
	max-width: 100%;
	/* display: block; */
}
.KitchenKing-homypromax-content {
	font-family: Montserrat;
	color: #ffffff;
	bottom: 13rem;
	width: 50%;
	margin-left: 18rem;
	font-size: 20px;
	text-align: center;
	position: absolute;
}
.KitchenKing-content p {
	color: #ffffff;
	font-family: Montserrat;
}
.KitchenKing-homypromax-bottom {
	max-width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	margin-left: 5rem;
	top: 0;
}
.KitchenKing-homypromax-lower-background img {
	max-width: 100% !important;

	/* display: block; */
}

.KitchenKing-homypromax-lower-background {
	max-width: 100% !important;

	max-width: 100%;
	background-color: rgb(11, 10, 10);
	position: relative;
	z-index: 1;
}

.KitchenKing-homypromax-features {
	font-family: Montserrat;
	z-index: 3;
	position: absolute;
	left: -15rem;
	margin: 0px;
	text-align: left;
}
.KitchenKing-homypromax-price {
	width: 85%;
	font-size: 24px;
	color: #ffffff;
	font-family: Montserrat;
	z-index: 3;
	position: absolute;
	top: 5rem;
	left: 3rem;
	margin: 0px;
	text-align: left;
	font-weight: 600;
}
.KitchenKing-homypromax-price ul {
	display: flex;
	list-style: none;
	flex-direction: row;
	justify-content: space-around;
}
.KitchenKing-homypromax-price-amount {
	top: 8rem;
	font-weight: 400;
	left: 2.4rem;
}
.KitchenKing-homypromax-price-amount h3 {
	margin-top: 3rem;
	margin-left: 26rem;
}
.KitchenKing-homypromax-cards {
	max-width: 100%;
	gap: 5rem;
	z-index: 4;
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 27rem;
	/* left: 20rem; */
	display: flex;
		width: 100vw;
		left: 0;
		align-items: center;
		justify-content: center;
}
.KitchenKing-homypromax-card {
	padding-top: 2rem;
	margin-top: 1rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 22rem;
	background-color: #1e1e1e;
	color: #ffffff;
	font-family: Montserrat;
	height: 26rem;
}
.KitchenKing-homypromax-card ul {
	list-style: none;
	margin-left: 2rem;
	padding: 0;
	margin-top: 1rem;
}
.KitchenKing-homypromax-card li {
	line-height: 3rem;
}
.book-btn {
	margin-top: 0rem!important;
}
.book-now-btn {
	margin-left: 33.3rem;
	margin-top: 2rem;
}

.desktopviewh {
	display: block;
}
.mobileview {
	display: none !important;
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
	.KitchenKing-homypromax-top {
		margin-left: 2rem !important;
	}
	.desktopviewh {
		display: none !important;
	}
	.mobileview {
		display: block !important;
	}
	.midviewkkh{
		display: none;
	}

	.KitchenKing-homypromax-content {
		font-size: 14px;
		text-align: left;
		margin-left: 1rem;
		margin-top: 5rem;
		width: 20rem;
		top: 26rem;
		/* bottom: rem; */
	}
	.KitchenKing-homypromax-features {
		left: 2rem;
	}
	.KitchenKing-homypromax-price {
		top: -90rem;
		font-size: 18px;
		left: 2rem;
		/* text-align: center; */
	}
	.KitchenKing-homypromax-price ul {
		gap: 4rem;
		display: flex;
		flex-direction: column;
	}
	.KitchenKing-homypromaximg {
		top: 4rem;
	}
	.KitchenKing-homypromax-price-amount h3 {
		margin-top: 3rem;
		font-size: 22px;
		text-align: center;
		margin-left: -4rem !important;
	}

	.KitchenKing-homypromax-price-amount {
		margin-left: 0rem;
		margin-top: 2rem;
	}
	.KitchenKing-homypromax-Heading {
		margin-left: 1rem;
		margin-top: 0rem;
	}
	.KitchenKing-homypromax-Heading h1 {
		font-size: 28px;
	}
	.book-now-btn {
		margin-top: 1rem;
		margin-left: 0rem !important ;
	}

	.KitchenKing-homypromax-cards {
		top: -50rem;
		left: -1rem;
		flex-direction: column;
	}
	.KitchenKing-homypromax-card {
		border: 2px solid #e23744;
		width: 95%;
		margin: 1rem auto;
		height: 20rem;
	}
	.KitchenKing-homypromax-card li {
		font-size: 12px;
		line-height: 1.5rem;
	}
	.KitchenKing-homypromax {
		height: 250vh;
	}
	.checkout-plans-homy {
		font-size: 18px;
		margin-left: -2rem !important;
	}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
	.desktopviewh {
		display: none;
	}
	.midviewkkh {
		display: block;
	}
	.KitchenKing-homypromax {
		margin-left: -2rem;
	}
	

	.KitchenKing-homypromax-Heading {
		left: 0;
		width: 100vw;
		margin: -1rem auto;
		text-align: center;
	}
	.KitchenKing-homypromax-Heading h1 {
		font-size: 48px;
	}
	.middle {
		display: none;
	}
	.KitchenKing-homypromax-content {
		width: 60%;
		top: 16rem;
		margin-left: 9rem;
	}
	.KitchenKing-homypromax-content p {
		font-size: 14px;
	}
	.KitchenKing-homypromaximg img {
		width: 95%;
		margin-top: -2.2rem;
		display: block;
		margin-left: 0.5rem;
	}
	.KitchenKing-homypromax-features {
		left: -2rem;
	}
	.KitchenKing-homypromax-features {
		font-size: 12px;

	}
	.KitchenKing-homypromax-price {
		margin-top: 2rem;
		font-size: 18px;
		left:3rem;
	}
	.book-now-btn {
		margin-left: 22rem !important;
	}
	.KitchenKing-homypromax-price-amount h3 {
		font-size: 20px;
		margin-left: 7rem !important;
	}
	.checkout-plans {
		font-size: 12px;
		margin-left: 18rem !important;
	}
	.KitchenKing-homypromax-cards {
		display: flex;
		width: 100vw;
		left: 0;
		align-items: center;
		justify-content: center;
		top: 25rem;
		gap: 1rem;
		/* left: 2rem; */
	}
	.KitchenKing-homypromax-card {
		width:20rem ;
		height: 18rem;
		/* margin-top: -5rem; */
	}
	.KitchenKing-homypromax-card li {
		line-height: 2rem;
	}
	.middle {
		display: none;
	}
	.book-btn {
		margin-top: 1rem !important;
		height: 2.5rem;
		left: 0rem;
	}
	
}
@media only screen and (min-width: 901px) and (max-width: 1080px) {
	.KitchenKing-homypromax {
		margin-left: -2rem;
	}
	.desktopviewh {
		display: none;
	}
	.midviewkkh {
		display: block;
	}

	.KitchenKing-homypromax-Heading {
		left: 0;
		width: 100vw;
		margin: -1rem auto;

		text-align: center;
	}
	.KitchenKing-homypromax-Heading h1 {
		font-size: 48px;
	}
	.middle {
		display: none;
	}
	.KitchenKing-homypromax-content {
		width: 60%;
		top: 16rem;
		margin-left: 11rem;
	}
	.KitchenKing-homypromax-content p {
		font-size: 16px;
	}
	.KitchenKing-homypromaximg img {
		width: 95%;
		margin-top: -2.2rem;
		display: block;
		margin-left: 0.5rem;
	}
	.KitchenKing-homypromax-features {
		left: -5rem;
	}
	.KitchenKing-homypromax-features li{
		font-size: 18px;

	}
	.KitchenKing-homypromax-price {
		margin-top: 2rem;
		font-size: 18px;
		left:3rem;
	}
	.book-now-btn {
		margin-left: 22rem !important;
	}
	.KitchenKing-homypromax-price-amount h3 {
		font-size: 20px;
		margin-left: 18rem !important;
	}
	.checkout-plans {
		font-size: 12px;
		margin-left: 18rem !important;
	}
	.KitchenKing-homypromax-cards {
		display: flex;
		width: 100vw;
		left: 0;
		align-items: center;
		justify-content: center;
		top: 25rem;
		/* left: 2rem; */
	}
	.KitchenKing-homypromax-card {
		max-width:35rem ;
		height: 22rem;
		/* margin-top: -5rem; */
	}
	.middle {
		display: none;
	}
	.book-btn {
		margin-top: 1rem !important;
		height: 2.5rem;
		left: 0rem;
	}
}
@media only screen and (min-width: 1081px) and (max-width: 1280px) {

	.KitchenKing-homypromax {
		margin-left: -2rem;
	}
	.KitchenKing-homypromax-Heading {
		left: 0;
		width: 100vw;
		margin: -1rem auto;
		text-align: center;
	}
	.desktopviewh {
		display: none;
	}
	.midviewkkh {
		display: block;
	}
	.middle {
		display: block!important;
	}
	.KitchenKing-homypromax-content {
		margin-left: 18rem;
	}
	.KitchenKing-homypromax-content p {
		font-size: 18px;
	}
	.KitchenKing-homypromaximg img {
		width: 95%;
		margin-top: -1.4rem;
		display: block;
		margin-left: 0.6rem;
	}
	.KitchenKing-homypromax-features {
		left: -10rem;
	}
	.KitchenKing-homypromax-price {
		margin-top: 2rem;
		font-size: 18px;
		left: 7rem;
	}
	.book-now-btn {
		margin-left: 22rem !important;
	}
	.KitchenKing-homypromax-price-amount h3 {
		font-size: 26px;
		margin-left: 15rem !important;
	}
	.checkout-plans {
		font-size: 18px;
		margin-left: 18rem !important;
	}
	.KitchenKing-homypromax-cards {
		top: 35rem;
		display: flex;
		width: 100vw;
		left: 0;
		align-items: center;
		justify-content: center;
	
	}
	.KitchenKing-homypromax-card {
		height: 27rem;
		margin-top: -5rem;
	}

	.book-btn {
		margin-top: 1rem !important;
		height: 2.5rem;
		left: 0rem;
	}
}
