.option-button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.option-button.selected {
    background-color: #E23744;
    color: #ffffff;
}

.breakfast-options label {
    display: block;
    margin-bottom: 5px;
}
.meal-container{
    display: flex;
    justify-content: space-between;
}
.timing-options{
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0px;
}
label input{
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
@media only screen and (max-width:1140px){
    label input{
        margin-right: 2px;
    }
    label{
        margin: 5px 0px;
    }
  }

  @media only screen and (max-width:900px){
    .timing-options{
        display: block;
        margin-bottom: 30px;
    }
    label{
        margin: 0px 20px;
    }
    .meal-container{
        display: block;
        margin: 30px 0px;
    }
  }

  @media only screen and (max-width:580px){
    .timing-options{
        margin-bottom: 5px;
    }
    .meal-container{
        margin: 20px 0px;
    }
  }