@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-400px * 16));
  }
}
.ourcookspage {
  width: 100%;
  height: 60rem;
  background-color: #fff;
  padding: 5rem 2rem;
}
.content-ourcooks {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  font-size: 5rem;
  /* align-items: center; */
  color: #fff;
  height: 50rem;
  background-color: #000;
  width: 90% !important;
  margin: auto;
  border-radius: 3rem;
}
.heading-ourcooks {
  position: relative;
  color: white;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-ourcooks::before {
  content: "";
  position: absolute;
  top: 0px; /* Adjust this value to control the position of the semi-circle */
  left: 15%;
  width: 70%;
  height: 160px; /* Adjust this value to control the height of the semi-circle */
  background-image: linear-gradient(to bottom, rgba(226,55,68,0.8), rgba(226,55,68,0)); /* Gradient from transparent to red */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  background-size: 100% 100%; /* Set background size for each gradient */
  background-repeat: no-repeat; /* Prevent repeating the gradient */
}

.ourcooks {
  overflow: hidden !important;
}
.cards-cooks {
  /* display: inline-block; */
  width: 100%;
  color: white;

  /* overflow: hidden; */
  /* padding-top: 20px; */
  margin: auto;
  white-space: nowrap;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden !important;
}

.cards-cooks:before,
.cards-cooks:after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
}

/* .cards-cooks:before {
  left: 0;
  background: linear-gradient(to left, rgba(15, 15, 15, 0.726),transparent);
}

.cards-cooks:after {
  right: 0;
  background: linear-gradient(to right, rgba(15, 15, 15, 0.726),transparent);
} */

.cards-cooks:hover .cooks-slide {
  animation-play-state: paused;
}

.cooks-slide {
  flex-wrap: nowrap;
  padding: 0px 20px;
  display: flex;
  width: calc(400px * 32);
  animation: 50s slide infinite linear;
}

.cooks-slide img {
  background-color: #00000069;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  height: 30rem;
  /* flex-wrap: nowrap; */
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
