.Whygoforhomy {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #020202;
	padding: 3rem;
}

.headline-inner {
	color: #fff;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.headline-inner::after {
	content: "";
	display: block;
	border-bottom: 5px solid #e23744; /* Set the thickness and color of the underline */
	margin-top: 4px; /* Adjust the spacing between text and underline if needed */
	width: 15rem;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.why1 img {
	padding-right: 1rem;
}

.why2 img {
	padding-right: 1rem;
	padding-top: 0.5rem;
}
@media only screen and (max-width:950px) and (min-width:600px){
.img-trust{
	margin-top: 10px;
}
.Whygoforhomy{
	text-align: center;
}
.headline-inner::after {
	border-bottom: 5px solid black; /* Set the thickness and color of the underline */
	}
}
@media (max-width: 600px) {
	.why1 img {
		padding-top: 1rem;
	}

	.why2 img {
		padding-top: 1rem;
	}

	.Whygoforhomy {
		padding: 4rem;
	}

	.why1 img {
		height: 90px;
	}

	.why2 img {
		height: 90px;
	}
	.Whygoforhomy {
		background-color: #020202;
		margin: 0 1rem 0 1rem;
	}
}
