.Services {
	height: max-content;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5rem;
	margin-bottom: rem;
	overflow-x: hidden;
	width: 100%;
}
.service-headline {
	position: absolute;
}

.service-headline h1 {
	overflow-x: hidden;
	color: #fff;
	font-family: montserrat;
	position: absolute;
	text-align: center;
	/* right: 0rem; */
	left: 15rem;
	width: 90%;
	/* font-family: Anton; */
	font-size: 54px;
	font-style: normal;
	font-weight: 600;
	/* margin-left: 15rem; */
	padding-top: 0.8rem;
	line-height: 100%; /* 69.36px */
	letter-spacing: 0.58px;
}
.services-box {
	position: absolute;
	top: 40rem;
	width: 80%;
}

/* .service1{
    display: flex;
    color: white;
    justify-content: space-between;
} */

.service-title h2 {
	color: #e23744;
	font-family: Montserrat;
	font-size: 3.5rem;
	font-style: normal;
	font-weight: 600;
	margin-top: 1rem;
	line-height: normal;
}
.services-content p:first-child {
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: 300;
}

.services-content p:nth-child(2) {
	font-size: 1.2rem;
}
.services-content {
	margin-top: 2rem;
	width: 75vw;
	text-align: center;
	padding-top: 5rem;
	color: black;
}

.service1 {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 5rem;
}

.service1 .service-image img {
	height: 25rem;
}

.booking {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 8rem;
}

.booking p {
	color: #fff;
	font-family: Montserrat;
	font-size: 19.2px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.Customize-button {
	padding: 12px 15.6px;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background-color: #e23744;
	transition: all ease-in-out 0.3s;
}

.Customize-button .Customize-btn {
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 80%; /* 12.8px */
	letter-spacing: -0.32px;
	text-decoration: none;
	color: white;
	transition: all ease-in-out 0.3s;
}
.services-upper-background,.services-lower-background{
	overflow-x: hidden;
}

.Customize-button .Customize-btn:hover {
	color: #020202;
}

.service-image img {
	border-radius: 0.5rem;
}

@media only screen and (max-width:1200px) {
	.service-headline h1 {
		
		left: 11rem;
		width: 90%;
		font-size: 44px;
		font-style: normal;
		font-weight: 600;
		padding-top: 0.8rem;
		line-height: 100%; 
		letter-spacing: 0.58px;
	}
	
}
@media only screen and (max-width:900px) {
	.service-headline h1 {
	left: 8rem;
	}
	.service-image img{
		display: none;
	}
	.Services{
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.last-service{
		padding-bottom: -3rem;
	}
	.services-lower-background .desktopview{
		height:85rem ;
		margin-bottom: 3rem;
	}
	.service1{
		padding-top: 2rem;
	}

}
@media only screen and (max-width:650px) {
	.service-headline h1 {
		left: 6rem;
		font-size: 32px;
		}
		.service-image img{
			display: none;
		}
		.Services{
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
		.service-title h2{
			font-size: 40px;
		}
		.services-lower-background .desktopview{
			height:75rem ;
			margin-bottom: 3rem;
		}
}
@media only screen and (max-width:600px) {
	.service1 .service-image img {
		height: 6rem;
	}
	.first-service{
		margin-top: 5rem;
	}
	.services-lower-background .mobileview{
		height:68rem ;
		margin-bottom: 0rem;
	}
	.Services{
		margin-bottom: -7rem;
	}
}
@media only screen and (max-width:480px){
	.services-lower-background .mobileview{
		height:73rem ;
		margin-bottom: 0rem;
	}
	.service-headline h1{
		left: 1rem;
	}
	.Services{
		margin-bottom: -8rem;
	}
	.services-content p{
		font-size: 25px !important;
		font-weight: 500 !important;
	}
}
@media only screen and (max-width:365px){
	.services-lower-background .mobileview{
		height:77rem ;
		margin-bottom: 0rem;
	}
}
@media only screen and (max-width:335px){
	.services-lower-background .mobileview{
		height:85rem ;
		margin-bottom: 0rem;
	}
}
/* @media (max-width: 600px) {
	.Services {
		height: 90vh;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5rem;
	}

	.services-upper-background img {
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
	}

	.services-lower-background img {
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
	}

	.Services {
		padding-top: 2rem;
	}

	.service-headline h1 {
		color: #fff;
		font-family: montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		margin-left: 4.5rem;
		padding-top: 0.5rem;
		line-height: 100%;
		letter-spacing: 0.48px;
	}

	.services-content p:first-child {
		font-size: 1.5rem;
		font-weight: 300;
	}

	.services-content p:nth-child(2) {
		font-size: 0.8rem;
		font-weight: 500;
	}
	.services-content {
		margin-top: 1rem;
		font-weight: bolder;
		text-align: center;
		padding-top: 1rem;
		color: black;
	}

	.services-box {
		position: absolute;
		top: 15rem;
		width: 100%;
		padding: 0.2rem;
	}
	.service1 {
		padding-top: 3rem;
	}
	.service1 .service-image img {
		height: 6rem;
	}

	.service-title h2 {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.Customize-button {
		padding: 12px 15.6px;
		color: white;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 8px;
		background-color: #e23744;
		transition: all ease-in-out 0.3s;
	}

	.Customize-button .Customize-btn {
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 300;
		line-height: 80%; 
		letter-spacing: -0.32px;
		text-decoration: none;
		color: white;
		transition: all ease-in-out 0.3s;
	}

	.booking {
		padding-right: 2rem;
	}
	.booking img {
		height: 1rem;
	}

	.booking p {
		color: #fff;
		font-family: Montserrat;
		font-size: 12.2px;
	}

	.service-title h2 {
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.service-icon img {
		height: 1.6rem;
	}
	.booking img,.booking p{
		display: none;
	}
	
} */
