
.cart-page{
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 5rem;
    background-color: #020202;
    overflow-x: hidden;
}
.mobile-cart{
  display: none;
}
.desktop-cart{
  /* width: 100%; */
  overflow-x: hidden;
}
.content-div-cart{
    position:absolute;
     display: flex;
     width: 90%;
     height: 100%;
     align-items: flex-start;
     margin-top: 5rem;
     color: white;
}
img{
  overflow-x: hidden;
}

.first-col-cart{
    display: flex;
    width: 40%;
    padding: 0px 50px;
    flex-direction: column;
    justify-content: left;
    overflow-x: hidden;
}

.first-col-div-cart{
    margin-bottom: 40px;
}


.head-first-cart{
    font-size: 68px;
    font-weight: bold;
    line-height: 69.36px;
}


.second-col-cart{
    margin: 40px;
    width: 60%;
    background-color: #000;
    height: max-content;
    padding:0px 2rem;
}
.border-cart{
    border: 1px solid rgba(255, 255, 255, 0.658);
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.prod-no{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
.no-prod{
    background: #EC616C;
    display: flex;
    border-radius: 5px;
    color: black;
}
.no-prod button{
border: none;
background: none;
margin: 0px 4px;
}
.outer-line{
    display: flex;
justify-content: center;
align-content: center;
}
.number-cart .line{
    border: 1px solid gray;
    width: 60%;
margin: 20px 0px;
}
.suggestions label{
    display: block;
    font-size: 14px;
    margin: 0px;
}
.suggestions textarea{
    width: 100%;
    background: rgba(0, 0, 0, 0.366);
    color: white;
}

.coupons{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.head-coupon{
font-size: 16px;
letter-spacing: 1.5px;
}
.head-coupon .headc{
    font-size: 24px;
}

.payment{
    font-size: 24px;
    font-weight: 500;
}
.pay-prices{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
}
.amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 28px;
}
.btn-cart{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.btn-cart button{
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #E23744;
    color: white;
    font-size: 22px;
}

@media only screen and (max-width:1150px){
    .second-col-cart{
        margin: 40px 0px;
        padding: 2rem 1rem;
    }
}
@media only screen and (max-width:980px){
    .content-div-cart{
       display: block;
    }
    .first-col-cart{
        width: 100%;
        padding: 0px 10px;
    }
    .second-col-cart{
        width: 100%;
    }
    .desktop-cart{
        display: none;
    }
    .mobile-cart{
        display:block;
    }
    .first-col-cart{
        margin-top: 60px;
    }
    
}
@media only screen and (max-width:450px){
   .prod-no{
    display: block;
   }
   .no-prod{
    width: 100px;
    justify-content: center;
    justify-self: right ;
   }
   .no-prod,.price-prod{
    text-align: right;
   }
   .btn-cart{
    margin: 20px;
   }
}
@media only screen and (max-width:380px){
.btn-cart{
    margin: 0px;

}
.amount{
    font-size: 20px;
}
}