.anihead{
    display: flex;
    padding-top: 10px;
    width: '100%';
     overflow: 'hidden';
     font-family:'Montserrat';
     font-weight: 500;
     font-size:'20px';
     color: white;
     flex-wrap: nowrap; /* Allow items to wrap to the next line */
     width: fit-content;
}
.anihead div{
    width: max-content !important;
margin: 0px 3px;
letter-spacing: 2px;
/* background-color: rgba(128, 128, 128, 0.459); */
padding: 3px 2px;

border-radius: 5px;
color: white;
/* color: #e23744; */
}