.otp-page{
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 5rem;
    background-color: #020202;
    overflow-x: hidden;
}
/* .mobile-cus{
  display: none;
} */
.content-div-otp{
    position:absolute;
     display: flex;
     width: 90%;
     height: 100%;
     align-items: flex-start;
     justify-content: space-between;
     margin-top: 5rem;
     color: white;
     padding: 20px;
}
.img-bg{
    height: 100%;
}
.otp-mobile{
    display: none;
}
img{
  overflow-x: hidden;
}
.left-otp{
    width: 50%;
    /* height: 100%; */
}
.left-otp img{
    margin: 5vh 0px;
    height: auto;
}
.right-otp{
    width: 60%;
}
.head-otp{
    position: absolute;
    right: 2rem;
    display: flex;
    justify-content: end;
   margin-top: -80px;
   font-size: 50px;
   font-weight: bold;
   letter-spacing: -3px;
}
.head-otp div{
    margin-left: 20px;
}
.content-otp{
    margin: 50px 0px;
    color: black;
font-size: 20px;
}
.otp-veri-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fillotp input{
    border-radius: 4px;
width: 50px;
height: 50px;
margin: 40px 10px;
background: #000;
border: none;
color: white;
font-size: 25px;
text-align: center;
}
.enter-otp{
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}
.btn-otp-login{
    padding: 5px 40px;
    color: black;
    background-color: #fff;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 30px auto;
    font-size: 25px;
}
.btn-resend-otp{
    border: none;
    background: none;
    color: white;
}
@media only screen and (max-width:1100px) and (min-width:925px){
    .head-otp{
        font-size: 45px;
    }
    .right-otp{
        width: 40%;
    }
    .left-otp{
        width: 40%;
    }
.content-div-otp{
    width: 100%;
}
.fillotp input{
    margin: 20px 3px;
}
}
@media only screen and (max-width:925px){
    .left-otp {
        display: none;
    }
    .head-otp{
        font-size: 45px;
        display: flex;
        position: absolute;
        right: -20px;
    }
    .right-otp{
        width: 100%;
    }
    .content-div-otp{
        padding: 30px;
    }
}
@media only screen and (max-width:545px){
.otp-desktop{
    display: none;
}
.otp-mobile{
    display: block;
}
.content-otp{
    margin-top:100px ;
    font-size: 22px;
}
.fillotp input{
width: 60px;
    margin: 40px 3px;
}
.otp-veri-div{
    font-size: 18px;
    margin: 30px 0px;
}
.btn-otp-login{
    margin-top: 90px;
}
.reset-div{
    font-size: 25px;
}
.head-otp div{
    margin-top: 18px;
}
}
@media only screen and (max-width:500px){
    .fillotp input{
        width: 50px;
        margin: 10px 3px;
    }
    .btn-otp-login{
        margin-top: 10px;
    }
    .fillotp{
        margin: 0px;
        padding: 0px;
        width: 100vw;
    }
    .verihead{
        margin-bottom: -20px;
    }
}
@media only screen and (max-width:840px){
    .head-otp{
        display: block;
        right: 2px;
    }
    .head-otp div{
text-align: right;
right: 5px;    }
    .content-otp{
        margin-top: 90px;
    }
}