.home-height{
    height: 90vh !important;
    /* position: relative; */
    width: 100vw;
    overflow:  hidden !important;
}
@media only screen and (max-width:600px){
    .home-page{
        margin-bottom: -12rem;
    }
}