.fp-page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: #020202;
    overflow-x: hidden;
}

.content-fp-page{
    position:absolute;
     display: flex;
     width: 90%;
     display: flex;
     justify-content: space-between;
     padding: 0px 3rem;
     margin-top: 5rem;
}
.fp-headline{
    display: flex;
    position:absolute;
    left: 7rem;
    padding-top: .5rem;
letter-spacing: -1.5px;
    color: #ffffff;
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: 5rem;
}
.fp-headline div{
    margin-right: 15px;
}
.left-fp{
    width: 40%;
}
.right-fp{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-fp{
    color: white;
}
.form-fp{
    width: 100%;
    margin: 50px 0px;
}
.form-fp input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
margin-bottom: 10px;
border: none;
background: #1E1E1E;
color: white;
padding: 0px 20px;
font-size: 20px;
}
.btn-div-fp{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}
.btn-div-fp button{
    padding: 7px 20px;
    font-size: 20px;
    font-weight: bold;
border: none;
border-radius: 10px;
}
@media only screen and (max-width:1370px){
    .fp-headline{
        left: 2rem;
        font-size: 42px;
    }
}
@media only screen and (max-width:1150px){
    .fp-headline{
        left: 1rem;
        font-size: 35px;
    }
    .content-fp-page{
        padding: 0px 1rem;
    }
}
@media only screen and (max-width:1020px){
    .content-fp-page{
        padding: 0px;
    }
}
@media only screen and (max-width:970px){
    .left-fp{
        display: none;
    }
    .right-fp{
        width: 80%;
    }
    .content-fp-page{
        justify-content: center;
    }
    .fp-headline{
        display: block;
        left: 7rem;
    }
    .fp-headline div{
        margin: 0;
        padding: 0;
        margin-top: -25px;
    }
    .content-fp{
        margin-top: 80px;
    }
}
@media only screen and (max-width:650px){
    .right-fp{
        width: 90%;
    }
    .fp-headline{
        left: 4rem;
    }
}
@media only screen and (max-width:430px){
    .fp-headline{
        left: 2rem;
    }
}