.Description{
    display: flex;
    width: 100%;
    height: 186px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: #020202;
    padding-top: 10rem;
    padding-bottom: 10rem;



}

.Description p{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-left: 17rem;
padding-right: 17rem;
}

@media (max-width:600px) {
    .Description{
        padding-top: 9rem;
    
    
    }

    .Description p{
font-size: 18px;

     
    padding-left: 2rem;
    padding-right: 2rem;
    }
}