.fixed-top-navbar {
    position: fixed !important;
	top: 0;
	overflow: hidden !important;
    width: 100% !important;
    z-index: 1000;
	height: 80px;
background:transparent !important;
transition: 0.5s ease;
}
.nav-active-color{
	background-color: #020202 !important;
}
.content-below-navbar {
    margin-top: 80px; 
}
.nav-toggle-fn{
	display: none;
}
.mob-nav{
	width: 30vw !important;
}
.offcanvas{
	/* width: 30vw !important; */
}
.navbar-link-container{
	padding: auto;
	margin: auto;
	margin-left: -2rem ;
	width: 50vw;
	display: flex;
	justify-content: center;
}
.connect-btn-control{
	display: flex;
	justify-content: end;
	width: 20vw;
}
.logo {
	/* padding-right: 9rem; */
	cursor: pointer;
}

.profile-dropdown{
	cursor: pointer;
}
.profile-btn{
	border-radius: 0px !important;
}
.dropdown-content{
	transition: opacity 0.7s ease;
	position: absolute;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
	font-size: 24px;
	background-color: #1E1E1E;
padding: 15px 35px;
right: 50px;
top: 80px;
border-radius: 10px;
font-weight: 500;
}
.phone-nav{
	display: flex;
	flex-direction: column;
}
.logout-nav-phone{
	width: fit-content;
	padding: 0.5rem 1.5rem;
	background-color: #e23744;
	border-radius: 10px;
	color: white;
}
.dash-link-phone{
	text-decoration: none;
	font-family: Montserrat;
	color: black;
	padding: 0.5rem;
	padding-bottom: 0.8rem;
}
.line-nav{
height: 1px;
border-radius: 100%;
background-color: #fff;
margin: 10px -10px;
}
.dash-link{
	transition: color 0.5s ease;
	text-decoration: none;
color: white;
}
.logout-nav{
	transition: color 0.5s ease;
}
.dash-link:hover{
	color: #e23744;
}
.logout-nav:hover{
color: #e23744;
}
.logo img {
	width: 20rem;
	height: 3.5rem;
	/* flex-shrink: 0; */
}
.home-logo-nav{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	background-color: #e23744;
	border-start-start-radius: 8px;
	border-end-start-radius: 8px;
	padding: 15px 21.6px;
	margin-right: 5px;
}
.connect-btn-control{
	display: flex;
}
.connect-button {
	display: inline-flex;
	padding: 15px 21.6px;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
height: 50px;
	background-color: #e23744;
	transition: all ease-in-out 0.3s;
	margin-right: 1rem;
}
.square{
	border-radius: 8px !important;


}
.connect-button .connect-btn {
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%; /* 12.8px */
	letter-spacing: -0.32px;
	text-decoration: none;
	color: white;
	transition: all ease-in-out 0.3s;
}

.connect-button .connect-btn:hover {
	color: #020202;
}

.bg-custom {
	background-color: #020202;
}

.navbar-link-buttons1 {
	border: 1px white solid;
	padding: 13px 21.6px;

	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%; /* 11.2px */
	letter-spacing: -0.28px;
	text-decoration: none;

	border-radius: 8px 0px 0px 8px;

	color: white;
	margin-left: 1rem;
	margin-right: 0.2rem;
	transition: all ease-in-out 0.3s;
}

.navbar-link-buttons1:hover {
	/* color: #E23744; */
	color: white;
	border: 1px #e23744 solid;
}
.navbar-link-buttons2:hover {
	/* color: #E23744; */
	color: white;
	border: 1px #e23744 solid;
}
.navbar-link-buttons3:hover {
	/* color: #E23744; */
	color: white;
	border: 1px #e23744 solid;
}

.navbar-link-buttons2 {
	padding: 13px 21.6px;
	border: 1px white solid;
	gap: 6px;

	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%; /* 11.2px */
	letter-spacing: -0.28px;
	text-decoration: none;
	color: white;
	margin-right: 0.2rem;
	transition: all ease-in-out 0.3s;
}

.navbar-link-buttons3 {
	padding: 13px 21.6px;

	border-radius: 0px 8px 8px 0px;
	border: 1px white solid;
	gap: 6px;

	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%; /* 11.2px */
	letter-spacing: -0.28px;
	text-decoration: none;
	color: white;
	transition: all ease-in-out 0.3s;
}

.logo1 {
	display: none;
}
.connect-button {
	display: block;
}

.hamburger-links-outer {
	display: none ;
}

.hamburger-links-inner {
	display: flex;
	flex-direction: column;
}

.hamburger-links-inner .connect-btn1 {
	text-decoration: none;
	font-family: Montserrat;
	color: black;
	padding: 0.5rem;
	padding-bottom: 0.8rem;
}
.logo img{
	margin-left: -2rem;
	cursor: pointer;
}
@media (max-width:1400px) and (min-width:900px) {
	.logo img{
		display: none;
	}
	.logo1 {
		cursor: pointer;
		display: block;
	}
	.navbar-link-container{
		width: 40vw;
		margin-left: 6rem;
	}
	.logo1 img{
		margin-left: -2rem;
		width: 20rem;
	height: 3.5rem;

	}
}
@media only screen and (max-width:1120px) and (min-width:900px) {
	.mob-nav{
		width: 30vw !important;
	}
	.logo1{
		/* margin-left: -20px; */
	}
	.navbar-link-container{
		width: 50vw !important;
		margin-left: 2rem !important;
	}
	.connect-btn-control{
width: 20vw;
	}
	.logo1 img{
		margin-left: -2rem;
		width: 17rem;
	height: 3.5rem;

	}
}
@media (max-width: 900px) {
	.logo1 img{
		width: 17rem;
	height: 3.5rem;
margin-left: -2rem;
	}
	.nav-toggle-fn{
		display: block;
	}
	.navbar-link-container {
		display: none;
	}

	.logo1 {
		
		display: block;
	}

	.connect-btn-control {
		display: none;
	}
	.hamburger-links-outer {
		display: block;
	}
	.bg-custom {
		height: 8vh;
	}

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}
