.KitchenKing {
	display: flex;
	flex-direction: column;
}
.KitchenKing-top {
	display: flex;
	flex-direction: column;
	margin-left: 5rem;
	top: 0;
}
.midviewkk {
	display: none;
}
.KitchenKing-upper-background {
	width: max-content;
	z-index: 1;
	/* changed */

	position: relative;
	background-color: rgba(255, 255, 255, 0);
	/* margin-left: 8.7rem; */
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.2) 60%,
		rgba(11, 10, 10, 1) 97%
	);
}

.KitchenKing-Heading {
	position: absolute;
	padding-top: 0rem;
	top: 7rem;
	margin-left: 28rem;
}
.KitchenKing-Heading h1 {
	color: #fff;
	font-family: Montserrat;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 69.36px */
	letter-spacing: 0.58px;
}

.KitchenKingimg {
	/* width: 100%; */
	height: 100%;
	position: absolute;
	top: 11rem;

	z-index: 0;
	/* changed */
}
.KitchenKing-content-m {
	margin-top: 7rem;
	margin-left: 1rem;
	max-width: 18rem;
	font-size: 14px;
	font-family: Montserrat;
	text-align: center;
	color: #ffffff;
}

.KitchenKing-content {
	bottom: 8rem;
	z-index: 2;
	width: 50%;
	margin-left: 18rem;

	text-align: center;
	position: absolute;
}
.KitchenKing-content {
	font-size: 24px;
	color: #ffffff;
	font-family: Montserrat;
}
.midview {
	display: none;
}
.connect-button {
	display: inline-flex;
	padding: 15px 21.6px;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background-color: #e23744;
	transition: all ease-in-out 0.3s;
	margin-right: 1rem;
}

.connect-button .connect-btn {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%; /* 12.8px */
	letter-spacing: -0.32px;
	text-decoration: none;
	color: white;
	transition: all ease-in-out 0.3s;
}

.connect-button:hover {
	color: #020202;
	cursor: pointer;
}
.Kitchen-button {
	font-size: 16px;
	font-family: Montserrat;
	margin-top: 1rem;
	z-index: 1;
}

.KitchenKing-bottom {
	display: flex;
	flex-direction: column;
	margin-left: 5rem;
	top: 0;
}
.KitchenKing-lower-background {
	width: max-content;
	background-color: rgb(11, 10, 10);
	position: relative;
	z-index: 1;
}
.KitchenFeatures {
	z-index: 1;
	position: absolute;
	margin-top: 5rem;
	margin-left: 17rem;
}
.KitchenFeatures img {
	width: 700px;
	height: auto;
}
.KitchenOptions {
	height: 100px;
	width: auto;
	position: absolute;
	margin-top: 25rem;
	margin-left: 12rem;
}
.KitchenKing-cards {
	gap: 5rem;
	z-index: 4;
	/* changed */

	position: absolute;
	display: flex;
	flex-direction: row;
	top: 71rem;
	left: 12rem;
}
.KitchenKing-card {
	padding-top: 2rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* align-items: center; */
	width: 20rem;
	background-color: #1e1e1e;
	color: #ffffff;
	font-family: Montserrat;
	height: 28rem;
}
.KitchenKing-card ul {
	margin-left: 0.5rem;
	margin-top: 1rem;
}
.KitchenKing-card li {
	line-height: 3rem;
}
.book-btn {
	margin-top: 2rem;
}
.desktopviewkk {
	display: block;
}
.mobileview {
	display: none;
}

/* =====================================================================*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
	.KitchenKing {
		display: flex;
		height: 2200px;
		margin-left: 2rem;
	}
	.KitchenKingimg {
		top: 4rem;
	}
	.midviewkk {
		display: none;
	}

	.Kitchen-button {
		font-family: Montserrat;
		margin-top: 1rem;
		z-index: 1;
	}
	.KitchenKing-Heading {
		margin-top: -1rem;
		margin-left: 1rem;
	}
	.KitchenKing-Heading h1 {
		font-size: 28px;
	}
	.KitchenKing-top {
		display: flex;
		flex-direction: column;
		margin-left: 0;
	}
	.KitchenKing-upper-background {
		height: 400px;
	}
	.desktopviewkk {
		display: none;
	}
	.mobileview {
		display: block;
	}
	.KitchenKing-content-m {
		margin: 1rem !important;
		height: max-content;
		font-size: 12px;
	}
	.KitchenKing-content p {
		font-size: 12px;
	}
	.Kitchen-button {
		font-size: 12px !important;
		font-family: Montserrat;
		margin-top: 1rem;
		z-index: 1;
	}

	.KitchenFeatures img {
		height: 350px;
		width: auto;
	}
	.KitchenFeatures {
		position: absolute;
		margin: 0rem;
		padding: 0rem;
		left: 4rem;
		top: 45rem;
	}
	.KitchenKing-cards {
		flex-direction: column;
		left: 4rem;
		gap: 2rem;
	}
	.KitchenKing-card {
		border: 2px solid #e23744;
		height: 20rem;
		width: auto;
	}
	.KitchenKing-card li {
		font-size: 12px;
		line-height: 1.5rem;
	}
	.book-btn {
		margin-top: -30rem !important;
	}
}
/* breaks at 795 */
@media only screen and (min-width: 601px) and (max-width: 900px) {
	.desktopviewkk {
		display: none;
	}
	.midviewkk {
		display: block;
	}

	.KitchenKing-top img {
		margin-left: 1rem;
		width: 95vw;
	}
	.KitchenKing-top {
		margin-left: 2rem;
	}
	.KitchenKing-bottom {
		margin-left: 2rem;
	}
	.KitchenKing-bottom img {
		margin-left: 1rem;
		width: 95vw;
	}
	.KitchenKing {
		margin-left: -2rem;
	}
	.KitchenKing-Heading {
		width: 100vw;
		margin: -1rem auto;
		text-align: center;
	}
	.KitchenKing-Heading h1 {
		font-size: 32px;
	}
	.KitchenKing-content {
		top: 24rem;
		width: 80vw;
		margin-left: 6rem;
	}

	.KitchenKing-content {
		top: 20rem;
		color: white;
		font-size: 16px;
	}
	.KitchenKingimg img {
		width: 95vw;
		margin-top: -2.2rem;
		display: block;
		margin-left: 1rem;
	}
	.KitchenFeatures {
		align-items: center;
		width: 100vw;
		top: 32rem;
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.KitchenFeatures img {
		height: 150px;
		width: auto;
	}

	.KitchenKing-price {
		/* top: 95rem; */
		margin-top: 2rem;
		font-size: 18px;
		left: 7rem;
	}
	.book-now-btn {
		margin-left: 22rem !important;
	}
	.checkout-plans {
		font-size: 18px;
		margin-left: 18rem !important;
	}
	.KitchenKing-cards {
		top: 67rem;
		left: 5rem;
		gap: 1rem;
	}
	.KitchenKing-card ul {
		margin-left: 0.5rem;
		margin-top: 1rem;
	}
	.KitchenKing-card h2 {
		font-size: 22px;
		text-align: center;
	}
	.KitchenKing-card li {
		font-size: 13px;
		line-height: 1.5rem;
	}
	.KitchenKing-card {
		height: 25rem;

		width: 25vw;
		margin-top: -24rem;
	}
	.middle {
		display: none;
	}
	.book-btn {
		margin-top: 1rem !important;
		height: 2.5rem;
		left: 0rem;
	}
	.Kitchen-button {
		font-size: 12px !important;
		height: 2.5rem;
		font-family: Montserrat;
		margin-top: 1rem;
		z-index: 1;
	}
}

@media only screen and (min-width: 901px) and (max-width: 1080px) {
	.KitchenKing-top {
		margin-left: 2rem;
	}
	.midviewkk {
		display: none;
	}
	.desktopviewkk {
		display: block;
	}
	.KitchenKing-top img {
		margin-left: 1rem;
		width: 95vw;
	}

	.KitchenKing-bottom {
		margin-left: 2rem;
	}
	.KitchenKing-bottom img {
		margin-left: 1rem;
		width: 95vw;
	}

	.KitchenKing {
		margin-left: -2rem;
	}
	.KitchenKing-Heading {
		margin-top: -1rem;
		margin-left: 24.5em;
	}
	.KitchenKing-Heading {
		width: 100vw;
		margin: -1rem auto;
		text-align: center;
	}
	.KitchenKing-Heading h1 {
		font-size: 32px;
	}
	.KitchenKing-content {
		top: 24rem;
		width: 80vw;
		margin-left: 6rem;
	}
	.KitchenKing-Heading h1 {
		font-size: 38px;
	}
	.KitchenKing-content {
		top: 20rem;
		color: white;
		font-size: 16px;
	}
	.KitchenKingimg img {
		width: 95vw;
		margin-top: -2.2rem;
		display: block;
		margin-left: 1rem;
	}
	.KitchenFeatures {
		top: 32rem;
		margin-left: 15rem;
	}
	.KitchenFeatures img {
		height: 150px;
		width: auto;
	}
	.KitchenKing-price {
		/* top: 95rem; */
		margin-top: 2rem;
		font-size: 18px;
		left: 7rem;
	}
	.book-now-btn {
		margin-left: 22rem !important;
	}
	.checkout-plans {
		font-size: 18px;
		margin-left: 18rem !important;
	}
	.KitchenKing-cards {
		width: 90vw;
		top: 73rem;
		left: 3rem;
		gap: 2rem;
	}
	.KitchenKing-card ul {
		margin-left: 0.5rem;
		margin-top: 1rem;
	}
	.KitchenKing-card h2 {
		text-align: center;
	}
	.KitchenKing-card li {
		line-height: 2rem;
	}
	.KitchenKing-card {
		height: 18rem;
		width: 28vw;
		margin-top: -20rem;
	}
	.middle {
		display: none;
	}
	.book-btn {
		margin-top: 1rem !important;
		height: 2.5rem;
		left: 0rem;
	}
	.Kitchen-button {
		font-family: Montserrat;

		z-index: 1;
	}
	.KitchenKing-card ul {
		margin-left: 0.5rem;
		margin-top: 1rem;
	}
	.KitchenKing-card h2 {
		font-size: 22px;
		text-align: center;
	}
	.KitchenKing-card li {
		font-size: 13px;
		line-height: 1.5rem;
	}
}
@media only screen and (min-width: 1081px) and (max-width: 1280px) {
	.KitchenKing-top {
		margin-left: 2rem;
	}
	.KitchenKing-top img {
		margin-left: 1.5rem;
		width: 95vw;
	}
	.midviewkk {
		display: none;
	}
	.desktopviewkk {
		display: block;
	}
	.KitchenKing-bottom {
		margin-left: 2rem;
	}
	.KitchenKing-bottom img {
		margin-left: 1.5rem;
		width: 95vw;
	}

	.KitchenKing {
		margin-left: -2rem;
	}
	.KitchenKing-Heading {
		width: 100vw;
		margin: -1rem auto;
		text-align: center;
	}
	.KitchenKing-Heading h1 {
		font-size: 48px;
	}
	.KitchenKing-content {
		display: flex;
		flex-direction: column;
		top: 20rem;
		margin-left: 3rem;
		width: 90vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.KitchenKing-content p {
		font-size: 18px;
	}
	.KitchenKingimg img {
		width: 95vw;
		margin-top: -1.5rem;
		display: block;
		margin-left: 1.5rem;
	}
	.KitchenFeatures {
		align-items: center;
		width: 100vw;
		top: 40rem;
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.KitchenFeatures img {
		height: 200px;
		width: auto;
	}
	.KitchenKing-price {
		/* top: 95rem; */
		margin-top: 2rem;
		font-size: 18px;
		left: 7rem;
	}
	.book-now-btn {
		margin-left: 22rem !important;
	}
	.checkout-plans {
		font-size: 18px;
		margin-left: 18rem !important;
	}
	.KitchenKing-cards {
		width: 95vw;
		top: 73rem;
		display: flex;
		align-items: center;
		margin: 0;
	}
	.KitchenKing-card {
		height: 20rem;
		margin-top: -5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.KitchenKing-cards {
		gap: 1rem;
		z-index: 4;
		position: absolute;
		display: flex;
		flex-direction: row;

		top: 65rem;
		width: 65rem;
		left: 4rem;
	}
	.middle {
		display: none;
	}
	.book-btn {
		margin-top: 1rem !important;
		height: 2.5rem;
		left: 0rem;
	}
	.Kitchen-button {
		font-family: Montserrat;

		z-index: 1;
	}
	.KitchenKing-card ul {
		margin-left: 0.5rem;
		margin-top: 1rem;
	}
	.KitchenKing-card h2 {
		font-size: 22px;
		text-align: center;
	}
	.KitchenKing-card li {
		font-size: 13px;
		line-height: 1.5rem;
	}
}
